<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class='d-block mx-auto mb-3' src="{{ `images/time.png` | relURL }}" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Time Management </h2>
        <p>Harness the power to clean and reduce the cluttered virtual environment with the press of a button. </p>
    </div>
    <div class="col-lg-4">
        <img class='d-block mx-auto mb-3' src="{{ `images/community.png` | relURL }}" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Selectable Categories </h2>
        <p>Efficiently organize browser tabs with automatic sorting of tabs by time and customizable thresholds, easily toggled to adapt to browsing preferences. </p>
    </div>
    <div class="col-lg-4">
        <img class='d-block mx-auto mb-3' src="{{ `images/virtual.png` | relURL }}" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Tabs Tracker</h2>
        <p>Real-time synchronization of browser tabs with the extension interface. </p>
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Cross Window Monitoring </h2>
        <p>Aggregation of all tabs across windows in one convenient and efficient interface. </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">User Friendly Interface </h2>
        <p>Streamlined user interface providing effortless tab navigation with a dropdown feature, ensuring seamless and organized exploration. </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Privacy Protection </h2>
        <p>Implement local storage to safeguarding sensitive data from security risks.</p>
    </div>
</div>